 
.indexBody{
	      background-image: url(../images/indexBackground.jpg);
        background-repeat: no-repeat;
        background-size:100% 100%;
          } 

#pageMargin{
        margin-top: 50px;
          }

.indexHeading{
        font-size: 150px;
        text-transform: uppercase;
        color:purple;
          }
  
.indexLink{ 
	    color: red;
        margin-top: 150PX;
        font-size: 40px;
          } 

.registerBody{
	    background-image: url(../images/registerBackground.jpg);
        background-repeat: no-repeat;
        background-size:100% 100%;
        font-weight: bold;
        font-size: 20px;
         } 

.registerInput{ 
	    background-color:grey;
        width:36%;
         }

#registerButton1{
         font-weight: normal;
         text-decoration: none;
         color: black;
         }        

.registerButton{
	    border: 2px;
	    background-color: grey;
        font-weight: bold;
        height:40%;
        width: 18%;
         }

.registerImage{
	    height:100%;
	    width:100%;
	     }          

.courseText{
        font-size: 120%;
         }
.courseForm{
	    font-weight: bold;
        font-size: 120%; 
        margin-bottom: 70%;
         }

.courseHeading{
	    font-size: 70px;
        text-transform: uppercase;
        color:red;
         }

.googleSubmit{
	    width: 60%;
	     }

.courseLink{
	    margin-top: 210px;
        color: red;
        font-size: 30px;
        text-align:center;
         }
.courseImage{
	    width:60%;
         }         

.contentHeading{
        font-size: 70px;
        text-transform: uppercase;
        color:purple;
        margin-bottom: 5%;
         }

.content1{
	    font-size: 30px;
        text-transform: uppercase;
        color:red;
         }

.content2{
	    font-size: 30px;
        text-transform: uppercase;
        color:green;
         }

.contentLink{
	    text-decoration:none;
        color:red;
        text-align:center;
        font-size:30px;
         }

.contentBody{
	    background-image: url(../images/contentBackground.jpg);
        background-repeat: no-repeat;
        background-size:100% 100%;
         }

.contentText{
	    text-decoration: none;
        }  

.historyText{
        background:pink;
        color: black;
         }      
.subContentBody{
	    background-image: url(../images/subContentBackground.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
         }
.historyHeading{
 	    text-transform: uppercase;
        color:blue;
        font-size: 200%;
         }

.historyImages{
	    height:250px;
        width:250px;
         }

.subContentHeading{
        font-size: 110px;
        text-transform: uppercase;
        color:blue;
         }

.youtubeVideo{
        width:300px;
        height:300px;
         }

.historyLink{
        font-size: 30px;
         }         
a:link{color:orange;}
a:visited{color:blue;}
a:active{font-weight:bold;}
a:hover{letter-spacing:5px;}