 
 body{background-image: url(maths13.jpg);
      background-repeat: no-repeat;
      background-size:100% 100%;} 
h1{
   font-size: 150px;
   text-transform: uppercase;
   color:purple;}
  
a{color: red;
     font-size: 40px;} 
a:link{color:orange;}
a:visited{color:blue;}
a:active{font-weight:bold;}
a:hover{letter-spacing:5px;}